{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <center><h1>Create new Category</h1></center>

                            {{ include('category/_form.html.twig') }}

                            <a href="{{ path('app_category_index') }}">back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}