{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <h1>Category</h1>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ category.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <td>{{ category.nom }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('app_category_index') }}">back to list</a>

                            <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}